@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';



@keyframes gradient-dark {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-dark {
  background: linear-gradient(270deg, #1f2937, #374151, #1f2937, #111827);
  background-size: 400% 400%;
  animation: gradient-dark 20s ease infinite;
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce-slow {
  animation: bounce-slow 6s ease-in-out infinite;
}
